@model Department
@{
    ViewData["Title"] = "Edit Department";
}

<h1>Edit Department</h1>
<br />
<br />

<form asp-action="Edit">

  <label asp-for="Code" class="col-form-label"></label>
    <input type="text" asp-for="Code"  class="form-control"/>
    <span asp-validation-for="Code" class="text-danger"></span>

    <label asp-for="Name" class="col-form-label"></label>
    <input type="text" asp-for="Name" class="form-control" />
    <span asp-validation-for="Name" class="text-danger"></span>

    <label asp-for="DateOfCreation" class="col-form-label"></label>
    <input type="date" asp-for="DateOfCreation" class="form-control" />
    <br />

    <input type="submit" value="Update" class="btn btn-primary"/> | 
    <a asp-action="Index" class="btn btn-light">Back</a>
 

</form>

